* {
    padding:0 ;
    margin: 0;
}

body {  
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);

    background-image: url(imgs/sky2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.avatar {
    margin-top: 50px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

/*
CORPO E HEADER TEM QUE TER O MESMO WIDTH PRA CENTRALIZAR O CONTEÚDO
*/
.profile {
    margin: 0 auto;
    text-align: center;
    /* POR NO <DIV> DO BODY
    background-color: rgba(194, 89, 129, 0.699) ;
    */
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    font-size: 19px;
    margin-bottom: 0;
}
h2 {
    margin-top: 0;
    font-size: 13px;
    font-weight: 500;
}

.social{
    padding:1rem;
    list-style: none;
    display: flex;
     justify-content: space-around;
}

.social img {
    width: 33px;
}

.links-list {
    list-style: none;
}

.links-list li{
    margin: 1rem;
}

.links-list li a{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 0px 0px 15px rgb(199, 199, 199) ;
    padding: 25px 20px;
    display: block;
    border-radius: 10px;
    background-color: rgba(24, 18, 107, 0.2);
    color:rgb(255, 255, 255);
    text-decoration:transparent;
}


@media screen and (min-height: 800px) {
    body {
        height: 100vh;
    }
}